.app.dark {
    --bg-color: #1f0e5b;
    --bg-color-inverted: #d2dae0;

    --primary-color: #557e54;
    --secondary-color: #52a050;
    --inverted-primary-color: #3a3ac0;
    --inverted-secondary-color: #464778;
}