.app.light {
    --bg-color: #d2dae0;
    --bg-color-inverted: #1f0e5b;

    --primary-color: #3a3ac0;
    --secondary-color: #464778;
    --inverted-primary-color: #557e54;
    --inverted-secondary-color: #52a050;
}