.navbar {
    width: 100%;
    padding: 20px;
    height: var(--navbar-height);
    background: var(--bg-color-inverted);
    display: flex;
    align-items: center;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}